@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.row .col {
    line-height: 0px;
    display: flex;
    flex-direction: row;
}

.row .col button {
    border: 1px gray solid;
    height: 25px;
    width: 25px;
}

.alive {
    background-color: greenyellow;
}